$menu-gap: 2.5rem;
$cards-gap: 2rem;
$form-gap: 1rem;
$dots-gap: 0.6rem;
$company-mb: 4rem;
$section-padding-inline: 1rem;
$section-padding-block: 8rem;
$dark-grey: #21333E;
$grey: #1D1D23;
$light-grey: #C0C3D0;
$green: #058283;
$green-brilliant: #0ea8a8;
$dark-green: #125453;
$midlight-green: #CDE6E6;
$light-green: #EEF4ED;
$dark: #111117;
$black: #0D0D11;